<div class="card">
    <div class="title">Purchase Reciept <img src="assets/recipt.png" alt="recipt" style="background-color: #f9f9f9; width: 20px; height: 20px;"></div>
    <div class="info">
        <div class="row">
            <div class="col-7">
                
                <span id="heading">Thank you for shopping with us: 
                    <span [ngStyle]="{ color: 'blue' }">{{ order?.name }}</span>
                  </span>                
            <div class="col-5">
                
                <span id="heading"></span><br>
                <span id="details">Date of Order:{{ currentDate | date:'dd MMMM yyyy' }}</span>
            </div>
            <div class="col-5 pull-right">
                <span id="heading">Order ID: {{ order?.orderId }}</span><br>
                <span id="details"></span>
            </div>
        </div>      
    </div>      
    <div class="pricing">
        <div class="row">
            <div class="col-9">
                <span id="name"></span>  
            </div>
            <div class="col-3">
                <span id="price">Paid Amount : {{ order?.amount | currency: 'INR'  }}     </span><img src="assets/check.png" alt="check" style="background-color: #f9f9f9; width: 20px; height: 20px;">
            </div>

            
        </div>
        <div class="row">
            <div class="col-9">
                <span id="name"><P>Shipping Address : Address: {{ order?.address }}</P> </span>
            </div>
            <!-- <div class="col-3">
                <span id="price">&pound;33.00</span>
            </div> -->
            <div class="col-3">
                <span id="price">Payment ID: {{ paymentResponse?.paymentId }}</span>
            </div>
        </div>
    </div>
    <div class="total">
        <div class="row">
            <div class="col-9"></div>
            <div class="col-3"><span>Paid Amount: {{ order?.amount | currency: 'INR'  }}</span></div>
        </div>
    </div>
    <div class="tracking">
        <div class="title">Tracking Order</div>
    </div>
    <div class="progress-track">
        <ul id="progressbar">
            <li class="step0 active " id="step1">Ordered</li>
            <li class="step0 text-center" id="step2">Shipped</li>
            <li class="step0 text-right" id="step3">On the way</li>
            <li class="step0 text-right" id="step4">Delivered</li>
        </ul>
    </div>
    

    <div class="footer">
        <div class="row">
            <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/YBWc55P.png"></div>
            <div class="col-10">Want any help? Please &nbsp;<a> contact us</a></div>
        </div>
        
       
    </div>
    <div class ="payment-button-container">
        <button (click)="goToPaymentPage()" class ="btn btn-primary" >Order again</button>
    </div>
</div>